/* Global Styles */

header {
    text-align: center;
    color: white;
}

body {
    background-color: #8C711F;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

iframe {
    margin: auto;
    display: block;
}

h1, h2, h3 {
    font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;  
}

p {
     font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal; 
}

hr{
    height: 2px;
    background-color: white;
    border: none;
}

.about_dark_souls ul {
    display: block;
    background-color: black;
    list-style-type: none;
    line-height: 40px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
}

a{
    color: white;
}

a:hover {
    text-decoration: none;
    color: #771D1C;
}

/* Mobile Styles */

header {
    background-image: url("../images/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}    

#container {
        padding: 10px;
        border: 4px solid white;
    }

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
}

footer ul {
    display: block;
    line-height: 40px;
    text-decoration: none;
    padding: 20px;
    list-style-type: none;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px 0; 
}

.col img{
    border-radius: 10px;
}

footer {
    padding: 40px;
    text-align: center;
}

/* Tablet Styles */

@media (min-width: 768px) {

    main {
        margin-top: 10px;
    }

    .col img {
        width: 65%;
    }

}

/* Desktop Styles */
@media (min-width: 1024px) {
#container {
    width: 65%;
    margin: 20px auto;
    background-color: #D9C24E;
    }

    .darksouls {
        display: flex;
    }

    .col {
        border: 2px solid white;
        margin: 10px auto;
        padding: 10px;
        border-radius: 10px;
    }

    .col img {
        width: 100%;
    }

}